{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Reset password{% endblock %}

{% block body %}
<div class="login-clean">
  {% call f.form_tag('user.begin_password_reset') %}
    <h2 class="sr-only">Reset password</h2>
    <p>Reset Password</p>
    <p class="small help-block sm-margin-bottom">
      We'll send you an email to reset your password.
    </p>
    {% call f.form_group(form.identity, css_class='sm-margin-bottom',
                             autofocus='autofocus',
                             placeholder='Email',
                             type='email') %}
    {% endcall %}
    <button id="reset-btn" class="btn btn-primary mx-1 px-3" role="button" type="submit">Submit</button>
    <a id="nevermind" class="btn btn-light btn-sm" href="{{ url_for('user.login') }}">Back to login</a>
  {% endcall %}
</div>
{% endblock %}
