{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
  <div class="login-clean">
    {% call f.form_tag('user.password_reset') %}
      <h2 class="sr-only">Enter a new password</h2>
      <p>Enter a new password</p>
      {% call f.form_group(form.password, css_class='sm-margin-bottom',
                          autofocus='autofocus',
                          placeholder='New Password') %}
      {% endcall %}

      <button id="reset-btn" class="btn btn-primary mx-1 px-3" role="button" type="submit">Continue</button>
      <a id="nevermind" class="btn btn-light btn-sm" href="{{ url_for('user.login') }}">Back to login</a>
    {% endcall %}
  </div>
{% endblock %}

