{% extends 'layouts/app.html' %}

{% block title %}Khata Lab{% endblock %}
{% block meta_description %}Complete business accounting and finance solution{% endblock %}

{% block body %}
  <main role="main">
    <div class="container">
        <div class="jumbotron">
            <h1>Heading text</h1>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <p><a class="btn btn-primary" role="button" style="color: #f2f5f8;" href="{{ url_for('user.signup') }}">Register Now</a></p>
        </div>
    </div>
  </main>

  <div class="features-clean">
      <div class="container">
          <div class="intro">
              <h2 class="text-center">Features</h2>
              <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
          </div>
          <div class="row features">
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                  <h3 class="name">Works everywhere</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                  <h3 class="name">Always available</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                  <h3 class="name">Customizable</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                  <h3 class="name">Organic</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                  <h3 class="name">Fast</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
              <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                  <h3 class="name">Mobile-first</h3>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
              </div>
          </div>
      </div>
  </div>

  <div class="highlight-clean">
      <div class="container">
          <div class="intro">
              <h2 class="text-center">Highlight</h2>
              <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
          </div>
          <div class="buttons"><a class="btn btn-primary" role="button" href="#" style="background: #235789;">Primary</a></div>
      </div>
  </div>

{% endblock %}
