{% extends 'layouts/base.html' %}

{% block header %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
      <a class="navbar-brand" href="{{ url_for('page.home') }}">
          <img class="d-inline-block align-center" src="{{ url_for('static', filename='img/elephant-logo-viewbox.svg') }}" width="50" height="50" loading="lazy">
          <strong>Khata Labs</strong>
      </a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
      </button>
      <div
          class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav mr-auto"></ul>
          {% if current_user.is_authenticated %}
          <div class="dropdown show">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">Account&nbsp;</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('user.settings') }}">Settings</a>
              <h6 class="dropdown-header">Session</h6>
              <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a>
            </div>
          </div>
          {% else %}
            <span class="navbar-text actions"> 
              <a class="login" href="{{ url_for('user.login') }}">Log In</a>
              <a class="btn btn-light action-button" role="button" href="{{ url_for('user.signup') }}" style="background: #00a86b;">Sign Up</a>
            </span>
          {% endif %}
        </div>
      </div>
  </nav>
{% endblock %}

{% block footer %}
  <li><a href="{{ url_for('contact.index') }}">Contact</a></li>
  <li><a href="{{ url_for('page.privacy') }}">Privacy Policy</a></li>
  <li><a href="{{ url_for('page.terms') }}">Terms of Service</a></li>
{% endblock %}
