{% extends 'layouts/base.html' %}

{% block header %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('page.home') }}">
      <img class="d-inline-block align-center" src="{{ url_for('static', filename='img/elephant-logo-viewbox.svg') }}" width="50" height="50" loading="lazy">
      <strong>Khata Labs</strong>
    </a>
  </div>
</nav>
{% endblock %}

{% block footer %}
  <li><a href="{{ url_for('user.signup') }}">Sign up today</a></li>
{% endblock %}

